@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary : #FF08A0;
  --secondary : #111111;
  --text-gray-1 : #535766;
  --text-gray-2 : #9C9C9C;
  --divider : #E0E0E0;
  --out-of-stock : #EDEDED;
  --border-default : #A9A9A9;
  --border-active : #111111 ;
}


